<p>Authorization Code Flow:</p>
<p><a href="<%= @authorization_code_uri %>"><%= @authorization_code_uri %></a></p>

<p>Implicit Flow:</p>
<p><a href="<%= @implicit_uri %>"><%= @implicit_uri %></a></p>


